@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  p {
    font-size: 17px;
    font-weight: 400;
  }
}
.nav_logo {
  h4,
  ul {
    margin: 0px;
  }
}
.nav_menu--link {
  list-style: none;
  column-gap: 20px;
  a {
    text-decoration: none;
    color: #000;
  }
}
.nav_menu--links button {
  background-color: #fff;
  border-radius: 5px;
  border-width: 1px;
}
/* .nav_menu--links .card{
  display: flex;
  border-color: rgb(255, 255, 255);
    border-width: 0px;
} */
.header--Text {
  h2 {
    font-size: 60px;
  }
}
.btn-1 {
  background-color: #191a23;
  color: #fff;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 200;
}
.header--Img {
  img {
    width: 100%;
  }
}
.carousel-primary img {
  padding: 0px 20px;
}
.carousel-primary2 img {
  padding: 0px 20px;
}
.title {
  column-gap: 25px;
  p {
    margin: 0% !important;
  }
}
.main_title {
  h2 {
    background-color: #b9ff66;
  }
}
.cards {
  gap: 15px;
}
.card_detailsd {
  width: 49%;
}
.card {
  border-color: black;
  border-width: 1px 1px 5px 1px;
  border-radius: 25px;
}
.card_details-1 {
  background-color: #f3f3f3;
}
.card_details-2 {
  background-color: #b9ff66;
}
.card_details-3 {
  background-color: #191a23;
}
.card_details--Text1 {
  p2 {
    background-color: #b9ff66;
    padding: 0px 5px;
    border-radius: 5px;
  }
}
.card_details--Text2 {
  p2 {
    background-color: #ffffff;
    padding: 0px 5px;
    border-radius: 5px;
  }
}
.card_details--Img img {
  width: 100%;
}
.paragraph {
  font-size: 18px;
  font-weight: 900;
  border-radius: 3px;
  width: fit-content !important;
}
.card_details--btn {
  column-gap: 10px;
}
.card_details--btn1 {
  i {
    background-color: #000;
    color: #b9ff66;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    rotate: -35deg;
  }
  p1 {
    color: #000;
  }
}
.card_details--btn2 {
  i {
    background-color: #ffffff;
    color: #000000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    rotate: -35deg;
  }
  p1 {
    color: #fff;
  }
}
.card_detail--data {
  background-color: #f3f3f3;
}
.card_data-Img img {
  width: 80%;
}
.card_learn {
  background-color: #191a23;
  border-radius: 35px;
  color: #fff;
  p1 {
    color: #b9ff66;
  }
  i {
    rotate: -30deg;
  }
}
/* .learn-data {
  background-color: #2d3794;
  width: 100%;
  border-color: #e90000;
  border-width: 11px 1px;
} */
.card_more-btn {
  column-gap: 10px;
}
.card_details-btn {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.card_details-btn button {
  border: #000000 solid 1px;
  display: flex;
  align-items: center;
  padding: 50%;
  border-radius: 50%;
}

.mores {
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 10px;
  margin-top: 10px;
}

.card_title--text {
  display: flex;
  align-items: center;
  align-content: center;
}
#more {
  display: none;
  position: relative;
  left: -25%;
}
.card_details .card {
  background-color: #f3f3f3;
}

.card_detail-title {
  position: relative;
  gap: 25px;
  width: 100%;
  p1 {
    font-size: 20px;
    font-weight: 700;
  }
  h2 {
    margin: 0%;
  }
}
/* .card_details-btn button i{
  height: 28%;
  width: 20%;
  border-radius: 50%;
} */
/* #myBtn button {
  height: 36px;
  width: 37px;
  border-radius: 50%;
} */
.Ilink-details--Img {
  gap: 20px;
}
.card_Ilink {
  padding: 0px 20px;
  gap: 22px;
}
.titles {
  width: 55%;
  max-width: 55%;
  column-gap: 25px;
}
.card_Ilink-details {
  width: 32%;
  p {
    margin: 0%;
    font-size: 15px;
    font-weight: 500;
  }
  p1 {
    margin: 0%;
    font-size: 20px;
    font-weight: 700;
  }
  img {
    width: 80px;
  }
  i {
    color: #b9ff66;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
.carousel-indicators {
  margin: 0;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #ffffff;
}
.message {
  p {
    background: transparent;
    -webkit-border-radius: 10px;
    border: solid;
    border-color: #b9ff66;
    -moz-border-radius: 10px;
    border-radius: 40px;
    padding: 40px;
    width: 100%;
    height: 100%;
  }

  #pointer {
    border: solid 10px transparent;
    border-top-color: #b9ff66;
    position: absolute;
    margin: -17px 0 0 110px;
  }
}
.card_form--details button {
  width: 100%;
}
.carousel {
  padding: 40px 0px;
  background-color: #191a23;
  border-radius: 30px;
  color: #fff;
}
.title_sub {
  p1 {
    font-size: 18px;
    color: #b9ff66;
  }
  p2 {
    font-size: 15px;
  }
}
.card_form {
  background-color: #f3f3f3;
  border-radius: 30px;
  img {
    width: 80%;
  }
}
.card_form--text {
  gap: 20px;
}
.card_form--text :focus{
  outline: none;
}
.input-group .error{
  color: #e90000;
}
.card_form--text .success{
  border: 2px solid;
  border-color: #b9ff66;
}

.form_input{
  border: 1px solid #000000;
  border-radius: 10px !important;
    padding: 5px 20px;
  
}
.card_form-radio {
  display: flex;
  gap: 40px;
  accent-color: #b9ff66;
  input[type='radio']{
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        outline: none;
        border: 1px solid gray;
    }

    input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
    }

 input[type="radio"]:checked:before {
        background:#b9ff66;
        
    }
    
    input[type="radio"]:checked {
      border-color:rgb(0, 0, 0);
    }
}
.card_form--text .Message {
  height: 100%;
}
.footer {
  background-color: #191a23;
  border-radius: 30px;
  color: #fff;
}
.card_footer-title {
  a {
    color: #fff;
  }
}
.nav_app i {
  font-size: 25px;
}
.card_footer--contact {
  a {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
  }
  p1 {
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #b9ff66;
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }
}

.card_footer--mail {
  background-color: #292a32;
  border-radius: 10px;
  gap: 20px;
  button {
    background-color: #b9ff66;
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }
  input {
    background-color: transparent;
    border: #fff solid 1px;
    padding: 15px 20px;
    border-radius: 10px;
  }
}
.card_footer--mail ::placeholder {
  color: #fff;
}
.card_footer-right {
  display: flex;
  gap: 40px;
}
.nav_menu--linke {
  gap: 20px;
  list-style: none;
}
/* .nav_menu--linke li a {
  text-decoration: none;
} */

.carousel-color {
  color: #000;
}

/* mobile responsive */
@media only screen and (max-width: 768px) {
  /* #menuBtn{
        display:block;
    } */
  body {
    p {
      font-size: 10px;
    }
  }
  .nav_menu--links ul {
    display: none;
  }
  .RqBtn {
    display: none;
  }
  .nav_menu--links .showmenu {
    z-index: 100;
    display: block;
    position: absolute;
    padding: 10px 30px;
    top: 65px;
    right: 20px;
    width: 200px;
    background-color: #f5f5f5;
    border: solid #000;
    border-width: 1px 1px 5px 1px;
    border-radius: 25px;
  }
  .nav_menu--links ul li a {
    display: block;
    padding: 10px 0px;
  }
  .nav_menu--links ul li i {
    display: none;
  }
  .header--Text {
    img {
      width: 100%;
    }
    h2 {
      font-size: 40px;
    }
  }
  .header--Text button {
    width: 100%;
  }
  .header--Img {
    display: none;
  }
  /*  hvhjn*/
  .scroll-container {
    height: 65px;
  }
  .carousel-primary {
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    animation: scroll-horizontal 20s linear infinite;
  }
  .carousel-primary img {
    width: 100%;
  }
  @keyframes scroll-horizontal {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }

  @keyframes scroll-horizontal2 {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  .carousel-primary2 {
    position: absolute;
    top: 90%;
    overflow: hidden;
    white-space: nowrap;
  }
  .carousel-primary2 img {
    width: 100%;
  }
  .carousel-primary2 {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    animation: scroll-horizontal2 20s linear infinite;
  }
  .bottom_animation {
    position: relative;
  }
  /* hcv */
  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .paragraph {
    font-size: 14px;
  }
  .cards {
    padding: 0px 15px;
  }
  .card {
    width: 100%;
  }
  .card_details--btn {
    p1 {
      display: none;
    }
  }
  .card_detail--data {
    padding: 0px 12px;
    border-radius: 10px;
  }
  .card_data-Img img {
    display: none;
  }
  .card-padding {
    padding: 0px 15px;
  }
  .card_data-Text button {
    width: 100%;
  }
  .card_learn {
    background-color: #fff;
  }
  .card_learn-data {
    background-color: #191a23;
    border-radius: 25px;
    padding: 20px;
    color: #fff;
  }
  .learn-data {
    background-color: transparent;
    width: 100%;
    border-color: #e90000;
    border-width: 11px 1px;
  }
  .scroll_data {
    display: flex;
    flex-direction: row-reverse;
    overflow-x: scroll;
    width: 100%;
    gap: 10px;
  }
  .card_form--img {
    display: none;
  }
  .nav_logos {
    flex-direction: column;
  }
  .card_footer--contact {
    text-align: center;
  }
  .nav_menu--linke {
    flex-direction: column;
    list-style: none;
    column-gap: 20px;
    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
  .nav_menu--linke {
    gap: 0px;
  }
  .nav_app {
    display: none;
  }
  .nav_apps {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .nav_apps i {
    font-size: 25px;
    color: #ffffff;
  }
  .card_footer--mail {
    input {
      padding: 14px 0px 14px 19px;
    }
  }
  .card_footer--details {
    flex-direction: column;
  }
  .card_footer--mail {
    flex-direction: column;
  }
  .card_footer-right {
    flex-direction: column;
    text-align: center;
  }
  .card_footer--contact {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
